*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    width: 100wh;
    height: 100vh;
    background-color: #f0f0f0;
}
/*inicio*/
header{
    width: 100%;
    background-color: #004d40;
    color: white;
    text-align: center;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul li{
    margin: 0,15px;
    padding:15px;
}
nav ul li a{
    text-decoration: none;
    color: #fff
}
nav ul li a:hover {
    color: #ffee58;
}
/*heder fim*/
main{
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 20px;
}
#banner {
    background-image: url(../img/banner.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    margin-bottom: 20px;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container section img{
    background-image: url(../img/Indio\ 8.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin-bottom: 20px;
    width: 200%;
    height: 200px;
}
footer {
    background-color: #004d40;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}